{{ define "main" }}
<main class="p-8">
  <div class="mx-auto max-w-screen-md">
    <h1 class="text-3xl font-bold text-black">About Us</h1>

    <!-- Mission and Values -->
    <section class="mt-6">
      <h2 class="text-2xl font-semibold text-gray-800">Our Mission</h2>
      <p class="mt-2 text-gray-700">
        {{.Params.mission}}
      </p>
    </section>

    <!-- Team Members -->
    <section class="mt-6">
      <h2 class="text-2xl font-semibold text-gray-800">Meet Our Team</h2>
      <div class="mt-4 grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
        {{ range .Params.team_members }}
          <div class="team-member bg-white p-4 rounded-lg shadow">
            {{ if .image }}
              <img src="{{ .image }}" alt="Photo of {{ .name }}" class="w-full h-48 object-cover rounded-t-lg">
            {{ else }}
              {{ $img := resources.Get "img/logos/person-svgrepo-com.png" }}
              {{ $imgSmall := $img.Resize "150x" }}
              {{ $imgMedium := $img.Resize "300x" }}
              <div>
                <img
                  aria-hidden="true"
                  class="mx-auto h-auto w-auto max-w-[150px] rounded"
                  alt="Placeholder"
                  width="{{ $imgSmall.Width }}"
                  height="{{ $imgSmall.Height }}"
                  src="{{ $imgSmall.RelPermalink }}"
                  srcset="
                    {{ $imgSmall.RelPermalink }} 150w,
                    {{ $imgMedium.RelPermalink }} 300w
                  "
                />
              </div>
            {{ end }}
            <div class="mt-4">
              <h3 class="text-lg font-bold text-gray-800">{{ .name }}</h3>
              <p class="text-sm text-gray-600">{{ .position }}</p>
            </div>
          </div>
        {{ end }}
      </div>
    </section>
  </div>
</main>
{{ end }}