{{ define "main" }}
  {{ $wellClass := `mx-auto max-w-screen-md` }}
  <section class="p-8">
    <h1
      class="text-center font-sans text-3xl font-bold leading-none text-black sm:text-4xl md:text-5xl"
    >
      {{ .Title }}
    </h1>
    <h2
      class="mt-4 text-center font-sans text-xl leading-tight text-gray md:text-2xl"
    >
      A public service by
      <a
        class="font-bold text-blue hover:text-blue-darker"
        href="https://colabnews.co"
      >
        {{- "Colorado News Collaborative" -}}
      </a>
    </h2>
    <div class="content-area mx-auto mt-8 max-w-prose">
      {{ .Content }}
    </div>
  </section>
  <section
    class="flex flex-col justify-around space-y-4 bg-g-4 p-8 shadow-inner sm:flex-row sm:space-x-4 sm:space-y-0"
  >
    {{ $blkClass := `group relative block w-full border-8 border-blue bg-white p-2 text-center leading-tight shadow-md duration-100 hover:border-blue-darker sm:w-64` }}
    {{ $svgWrapperClass := `text-gray group-hover:text-green` }}
    {{ $hedClass := `text-blue font-sans font-bold uppercase group-hover:text-blue-darker duration-100` }}
    {{ $dekClass := `my-1 mx-auto max-w-xs font-serif text-g-7` }}
    <a
      class="{{ $blkClass }}"
      href="{{ site.Param `nominate-link` }}"
      target="_blank"
    >
      <div class="{{ $svgWrapperClass }}">
        <svg
          class="inline h-20 w-20"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
          />
        </svg>
      </div>
      <div class="{{ $hedClass }}">Suggest a source</div>
      <div class="{{ $dekClass }}">
        Know someone we should list here? Recommend them today.
      </div>
    </a>
    {{ $emailSubject:= `About my Amplify Colorado database entry` }}
    <a
      href="mailto:amplifycolorado@colabnews.co?subject={{ $emailSubject }}"
      class="{{ $blkClass }}"
    >
      <div class="{{ $svgWrapperClass }}">
        <svg
          class="inline h-20 w-20"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
          />
        </svg>
      </div>
      <div class="{{ $hedClass }}">Update your profile</div>
      <div class="{{ $dekClass }}">
        Has your information changed? Let us know.
      </div>
    </a>
    <a class="{{ $blkClass }}" href="{{ site.Param `donate-link` }}">
      <div class="{{ $svgWrapperClass }}">
        <svg
          class="inline h-20 w-20"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7"
          />
        </svg>
      </div>
      <div class="{{ $hedClass }}">Support this project</div>
      <div class="{{ $dekClass }}">Help us maintain and grow this guide.</div>
    </a>
  </section>
  <section class="no-js-hide p-8">
    {{ partial "search.html" . }}
  </section>
  {{ $secHedClass := `text-2xl font-sans font-bold leading-tight mb-2` }}
  <section class="p-8">
    <div class="{{ $wellClass }}" x-data>
      <h2 class="{{ $secHedClass }} scroll-mt-2" x-ref="hed">
        Meet our journalists and community experts
      </h2>
      {{ $expts := .GetPage "experts" }}
      {{ $journos := .GetPage "journalists" }}
      {{ $people := union $expts.RegularPages $journos.RegularPages }}
      <ul
        x-init="$shuffle($el)"
        class="
          first-dozen mt-4 grid max-w-screen-md gap-x-4  gap-y-4
          sm:grid-cols-2 md:grid-cols-3
        "
        x-ref="container"
      >
        {{ range $people }}
          <li class="min-w-0">
            {{ partial "person-box.html" . }}
          </li>
        {{ end }}
      </ul>
      <div class="mt-4 text-right font-sans font-bold">
        <p>
          <button
            type="button"
            @click="
              $shuffle($refs.container);
              $refs.hed.scrollIntoView({ block: 'start', behavior: 'smooth' });
            "
            class="decoration-blue decoration-4 underline-offset-2 transition-colors duration-500 hover:underline"
          >
            And many more…
          </button>
        </p>
      </div>
    </div>
  </section>
  <section class="bg-g-3 p-8 shadow-inner">
    <div class="{{ $wellClass }}">
      <h2 class="{{ $secHedClass }}" id="by-expertise">Areas of expertise</h2>
      {{ $expertise := .GetPage "expertise" }}
      {{ partial "pages-list.html" $expertise.Pages }}
    </div>
  </section>
  <section class="p-8">
    <div class="{{ $wellClass }}">
      <h2 class="{{ $secHedClass }}" id="by-location">Experts by location</h2>
      {{ $loc := .GetPage "location" }}
      {{ partial "pages-list.html" $loc.Pages }}
    </div>
  </section>
  <section class="bg-g-3 p-8 shadow-inner">
    <div class="{{ $wellClass }}">
      <h2 class="{{ $secHedClass }}" id="by-name">Experts by last name</h2>
      {{ $people := .GetPage "experts" }}
      {{ partial "people-by-last-name.html" $people }}
    </div>
  </section>
  <section class="p-8">
    <div class="{{ $wellClass }}">
      <h2 class="{{ $secHedClass }}" id="by-beat">Journalists by beat</h2>
      {{ $beat := .GetPage "beat" }}
      {{ partial "pages-list.html" $beat.Pages }}
    </div>
  </section>
  <section class="bg-g-3 p-8 shadow-inner">
    <div class="{{ $wellClass }}">
      <h2 class="{{ $secHedClass }}" id="by-area">
        Journalists by coverage areas
      </h2>
      {{ $area := .GetPage "area" }}
      {{ partial "pages-list.html" $area.Pages }}
    </div>
  </section>
  <section class="p-8">
    <div class="{{ $wellClass }}">
      <h2 class="{{ $secHedClass }}" id="journalists">
        Journalists by last name
      </h2>
      {{ $people := .GetPage "journalists" }}
      {{ partial "people-by-last-name.html" $people }}
    </div>
  </section>
{{ end }}
