{{ define "main" }}
  {{ $wellClass := `mx-auto max-w-screen-md` }}


  <!-- Main Section with Logo and Title -->
  <section
    class="parallax bg-gray p-8 "
    style="background-image: url(/img/background/titleBackground.webp); text-align: center;"
  >
    <div style="display: inline-block; background-color: rgb(39, 39, 39, 0.5); padding: 20px; border-radius: 8px; ">
      <h1>
        <span class="sr-only">{{ .Title }}</span>
        {{ $img := resources.Get `img/logos/hiddenfigs_logo.png` }}
        {{ $imgSmall := $img.Resize "400x" }}
        {{ $imgMedium := $img.Resize "1000x" }}
        <img
          title="{{ $.Title }}"
          class="mx-auto h-auto w-[400px] max-w-full"
          alt="Hidden Figures logo"
          width="{{ $imgSmall.Width }}"
          height="{{ $imgSmall.Height }}"
          src="{{ $imgSmall.RelPermalink }}"
          srcset="
            {{ $imgSmall.RelPermalink }} 450w,
            {{ $imgMedium.RelPermalink }} 900w
          "
        />
      </h1>
      <h2 
        class="links-blue-darker text-center font-sans text-xl leading-tight text-white md:text-xl">
        A Cottrell Scholars Collaborative funded by the
        <a class="font-bold" href="https://rescorp.org/">Research Corporation for Science Advancement</a>
      </h2>
      <div 
        class="content-area mx-auto mt-8 max-w-prose text-white">
        {{ .Content }}
      </div>
    </div>
  </section>
  <!-- Parallax effect CSS -->
  <style>
    .parallax {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>

  <!-- Section with Call-to-Action Links -->
  <section
    class="flex flex-col justify-around space-y-4 bg-gray shadow-inner sm:flex-row sm:space-x-4 sm:space-y-0"
    x-data="{ isOpen: false, showModal: false }"
  >
    {{ $blkClass := `group relative block w-full p-2 text-center leading-tight duration-100 sm:w-64` }}
    {{ $hedClass := `text-gray font-sans font-bold uppercase group-hover:text-white duration-100` }}
    {{ $dekClass := `my-1 mx-auto max-w-xs font-serif text-g-7` }}


    <!-- Add an Entry Button -->
    <a
      class="system {{ $blkClass }}"
      href="https://forms.gle/ZRopiyBevpXu9D459"
      target="_blank"
    >
      <div class="planet">
        <div>
          <div class="{{ $hedClass }}">Add an entry</div>
          or recommend someone and we will follow up
        </div>
      </div>
      <div class="orbit">
        <div class="moon"></div>
      </div>
    </a>

    <!-- Update Entry Button -->
    {{ $emailSubject := `About my Hidden Figures database entry` }}
    <a
      class="system {{ $blkClass }}"
      href="mailto:hiddenfigs@googlegroups.com?subject={{ $emailSubject }}"
      @click.prevent="showModal = true; console.log(showModal)"
    >
      <div class="planet">
        <div>
          <div class="{{ $hedClass }}">Update entry.</div>
          Let us know if your information changed
        </div>
      </div>
      <div class="orbit">
        <div class="moon"></div>
      </div>
    </a>

    <!-- Popup Modal -->
    {{ partial "contactus-box.html" . }}
  </section>

  <style>
    .system {
      perspective: 1000px;
      transform-style: preserve-3d;
      height: 300px;
      aspect-ratio: 1;
      rotate: 45deg;
      position: relative; /* Make sure it can contain absolutely positioned elements */
    }

    .planet,
    .orbit,
    .moon {
      position: absolute;
      transform-style: preserve-3d;
      inset: 0;
      height: calc(var(--size) * 1%);
      margin: auto;
      aspect-ratio: 1;
      border-radius: 50%;
    }

    .planet {
      --size: 50;
      background: radial-gradient(circle at 40% 40%, #1e90ff, #104e8b 70%);
      border-radius: 50%;
      box-shadow:
        inset -20px -20px 30px rgba(0, 0, 0, 0.4),
        inset 10px 10px 20px rgba(255, 255, 255, 0.2),
        0 0 30px rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      rotate: -45deg;
    }

    .orbit {
      --size: 80;
      --duration: 6s;
      box-shadow:
        0 0 0 2cqmin #5554,
        inset 0 0 0 2cqmin #5554; /* Orbit outline */
      animation: orbit calc(var(--duration)) linear infinite;
      rotate: 1 0 0 80deg;
      animation-timing-function: linear;
      animation-play-state: running;
      will-change: transform;
    }

    .moon {
      --size: 24;
      height: calc(var(--size) * 1%);
      margin-left: calc(var(--size) * -0.5%);
      background: radial-gradient(circle at 30% 30%, #d3d3d3, #a9a9a9 70%);
      border-radius: 50%;
      position: relative;
      box-shadow:
        inset -10px -10px 30px rgba(0, 0, 0, 0.5),
        inset 10px 10px 20px rgba(255, 255, 255, 0.2),
        0 0 30px rgba(255, 255, 255, 0.1);
      animation: moon calc(var(--duration)) linear infinite;
      rotate: 1 0 0 90deg;
      animation-timing-function: linear;
      animation-play-state: running;
      will-change: transform;
    }

    /* Orbit and Moon Animation */
    @keyframes orbit {
      to {
        transform: rotate3d(0, 0, 1, 360deg);
      }
    }

    @keyframes moon {
      to {
        transform: rotate3d(0, 1, 0, -360deg);
      }
    }

    /* Hover effect for smoother speed change */
    .group:hover .orbit,
    .group:hover .moon {
      animation-duration: 3s; /* Speed up the animation without resetting */
      transition: animation-duration 0.5s ease; /* Smooth transition for speeding up */
    }

    .planet-text {
      display: block;
      text-align: center;
      width: 80%;
      font-size: 14px;
    }

    /* Additional button styling */
    .group:hover .planet {
      background: #005faf; /* Change planet color on hover */
    }

    a {
      text-decoration: none;
    }
  </style>

  <!-- Search Section -->
  <section
    class="parallax relative overflow-hidden p-8 text-white"
    style="background-image: url(/img/background/bodyBackground.webp);"
  >
    <section class="no-js-hide p-8">
      {{ partial "search.html" . }}
    </section>

    <!-- Section to Meet Our Scientists -->
    {{ $secHedClass := `text-2xl font-sans font-bold leading-tight mb-2` }}
    <section class="p-8 pt-0">
      <div class="{{ $wellClass }}" x-data>
        <h2 class="{{ $secHedClass }} scroll-mt-2" x-ref="hed">
          Meet our Scientists
        </h2>
        {{ $scientists := .GetPage "scientist" }}
        {{ $people := $scientists.RegularPages }}
        <ul
          x-init="$shuffle($el)"
          class="first-half-dozen mt-4 grid max-w-screen-md gap-x-4 gap-y-4 sm:grid-cols-2 md:grid-cols-3"
          x-ref="container"
        >
          {{ range $people }}
            <li class="min-w-0">
              {{ partial "person-box.html" . }}
            </li>
          {{ end }}
        </ul>
        <div class="mt-4 text-right font-sans font-bold">
          <p>
            <button
              type="button"
              @click="$rotate($refs.container, 6); $refs.hed.scrollIntoView({ block: 'start', behavior: 'smooth' });"
              class="decoration-blue decoration-4 underline-offset-2 transition-colors duration-500 hover:underline"
            >
              And many more…
            </button>
          </p>
        </div>
      </div>
    </section>
  </section>

  <!-- Section by Area of Expertise -->
  <section class="bg-g-3 p-8 shadow-inner">
    <div class="{{ $wellClass }}" x-data="{ isOpen: false }">
      <h2 class="{{ $secHedClass }}" id="by-beat">
        <button
          @click="isOpen = !isOpen"
          :aria-expanded="isOpen"
          class="text-left"
        >
          <span x-show="isOpen" x-cloak aria-hidden="true" class=""
            >&minus;</span
          >
          <span x-show="!isOpen" aria-hidden="true" class=""> &plus; </span>
          <span>Scientist by research area</span>
        </button>
      </h2>
      <div x-cloak x-show="isOpen" x-collapse>
        {{ $area := .GetPage "researchAreas" }}
        {{ partial "pages-list.html" $area.Pages }}
      </div>
    </div>
  </section>

  <!-- Section by Relevant Course Work -->
  <section class="p-8">
    <div class="{{ $wellClass }}" x-data="{ isOpen: false }">
      <h2 class="{{ $secHedClass }}" id="by-area">
        <button
          @click="isOpen = !isOpen"
          :aria-expanded="isOpen"
          class="text-left"
        >
          <span x-show="isOpen" x-cloak aria-hidden="true" class=""
            >&minus;</span
          >
          <span x-show="!isOpen" aria-hidden="true" class=""> &plus; </span>
          <span>Scientists by relevant course work</span>
        </button>
      </h2>
      <div x-cloak x-show="isOpen" x-collapse>
        {{ $course := .GetPage "relevantCourses" }}
        {{ partial "pages-list.html" $course.Pages }}
      </div>
    </div>
  </section>

  <!-- Section by Scientist Last Name -->
  <section class="bg-g-3 p-8 shadow-inner">
    <div class="{{ $wellClass }}" x-data="{ isOpen: false }">
      <h2 class="{{ $secHedClass }}" id="scientist">
        <button
          @click="isOpen = !isOpen"
          :aria-expanded="isOpen"
          class="text-left"
        >
          <span x-show="isOpen" x-cloak aria-hidden="true" class=""
            >&minus;</span
          >
          <span x-show="!isOpen" aria-hidden="true" class=""> &plus; </span>
          <span>Scientist by last name</span>
        </button>
      </h2>
      <div x-cloak x-show="isOpen" x-collapse>
        {{ $people := .GetPage "scientist" }}
        {{ partial "people-by-last-name.html" $people }}
      </div>
    </div>
  </section>
{{ end }}
