{{ define "main" }}
  {{ $wellClass := `mx-auto max-w-screen-md` }}


  <!-- Main Section with Logo and Title -->
  <section
    class="parallax bg-gray p-8 "
    style="background-image: url(/img/background/titleBackground.webp); text-align: center;"
  >
    <div
      style="display: inline-block; background-color: white; padding: 20px; border-radius: 8px; "
    >
      <h1>
        <span class="sr-only">{{ .Title }}</span>
        <!-- {{ $img := resources.Get `img/logos/hiddenfigs_logo.png` }} -->
        {{ $imgSmall := $img.Resize "400x" }}
        {{ $imgMedium := $img.Resize "1000x" }}
        <img
          title="{{ $.Title }}"
          class="mx-auto h-auto w-[400px] max-w-full"
          alt="Hidden Figures logo"
          width="{{ $imgSmall.Width }}"
          height="{{ $imgSmall.Height }}"
          src="{{ $imgSmall.RelPermalink }}"
          srcset="
            {{ $imgSmall.RelPermalink }} 450w,
            {{ $imgMedium.RelPermalink }} 900w
          "
        />
      </h1>
      <h2
        class="links-blue-darker text-center font-sans text-xl leading-tight text-black md:text-xl"
      >
        A Cottrell Scholars Collaborative funded by the
        <a class="font-bold" href="https://rescorp.org/"
          >Research Corporation for Science Advancement</a
        >
      </h2>
      <div class="content-area mx-auto mt-8 max-w-prose text-black">
        {{ .Content }}
      </div>
    </div>
  </section>
  <!-- Parallax effect CSS -->
  <style>
    .parallax {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>

  <section
    class="flex flex-col justify-around space-y-4 bg-g-4 p-8 shadow-inner sm:flex-row sm:space-x-4 sm:space-y-0"
  >
    {{ $blkClass := `group relative block w-full border-8 border-gray bg-white p-2 text-center leading-tight shadow-md duration-100 hover:border-black sm:w-64` }}
    {{ $svgWrapperClass := `text-blue group-hover:text-blue-darker` }}
    {{ $hedClass := `text-blue font-sans font-bold uppercase group-hover:text-blue-darker duration-100` }}
    {{ $dekClass := `my-1 mx-auto max-w-xs font-serif text-g-7` }}


    <!-- Add an Entry Button -->
    <a
      class="{{ $blkClass }}"
      href="https://forms.gle/ZRopiyBevpXu9D459"
      target="_blank"
    >
      <div class="{{ $svgWrapperClass }}">
        <svg
          class="inline h-20 w-20"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
          />
        </svg>
      </div>
      <div class="{{ $hedClass }}">Add an entry</div>
      <div class="{{ $dekClass }}">
        Or recommend someone and we’ll follow up!
      </div>
    </a>

    <!-- Update Entry Button -->
    {{ $emailSubject := `About my Hidden Figures database entry` }}
    <a
      href="mailto:hiddenfigs@googlegroups.com?subject={{ $emailSubject }}"
      class="{{ $blkClass }}"
    >
      <div class="{{ $svgWrapperClass }}">
        <svg
          class="inline h-20 w-20"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
          />
        </svg>
      </div>
      <div class="{{ $hedClass }}">Update your entry</div>
      <div class="{{ $dekClass }}">
        Has your information changed? Let us know.
      </div>
    </a>
  </section>

  <!-- Search Section -->
  <section
    class="parallax relative overflow-hidden p-8 text-white"
    style="background-image: url(/img/background/bodyBackground.webp);"
  >
    <section class="no-js-hide p-8">
      {{ partial "search.html" . }}
    </section>

    <!-- Section to Meet Our Scientists -->
    {{ $secHedClass := `text-2xl font-sans font-bold leading-tight mb-2` }}
    <section class="p-8 pt-0">
      <div class="{{ $wellClass }}" x-data>
        <h2 class="{{ $secHedClass }} scroll-mt-2" x-ref="hed">
          Meet our Scientists
        </h2>
        {{ $scientists := .GetPage "scientist" }}
        {{ $people := $scientists.RegularPages }}
        <ul
          x-init="$shuffle($el)"
          class="first-half-dozen mt-4 grid max-w-screen-md gap-x-4 gap-y-4 sm:grid-cols-2 md:grid-cols-3"
          x-ref="container"
        >
          {{ range $people }}
            <li class="min-w-0">
              {{ partial "person-box.html" . }}
            </li>
          {{ end }}
        </ul>
        <div class="mt-4 text-right font-sans font-bold">
          <p>
            <button
              type="button"
              @click="$rotate($refs.container, 6); $refs.hed.scrollIntoView({ block: 'start', behavior: 'smooth' });"
              class="decoration-blue decoration-4 underline-offset-2 transition-colors duration-500 hover:underline"
            >
              And many more…
            </button>
          </p>
        </div>
      </div>
    </section>
  </section>

  <!-- Section by Area of Expertise -->
  <section class="bg-g-3 p-8 shadow-inner">
    <div class="{{ $wellClass }}" x-data="{ isOpen: false }">
      <h2 class="{{ $secHedClass }}" id="by-beat">
        <button
          @click="isOpen = !isOpen"
          :aria-expanded="isOpen"
          class="text-left"
        >
          <span x-show="isOpen" x-cloak aria-hidden="true" class=""
            >&minus;</span
          >
          <span x-show="!isOpen" aria-hidden="true" class=""> &plus; </span>
          <span>Scientist by research area</span>
        </button>
      </h2>
      <div x-cloak x-show="isOpen" x-collapse>
        {{ $area := .GetPage "researchAreas" }}
        {{ partial "pages-list.html" $area.Pages }}
      </div>
    </div>
  </section>

  <!-- Section by Relevant Course Work -->
  <section class="p-8">
    <div class="{{ $wellClass }}" x-data="{ isOpen: false }">
      <h2 class="{{ $secHedClass }}" id="by-area">
        <button
          @click="isOpen = !isOpen"
          :aria-expanded="isOpen"
          class="text-left"
        >
          <span x-show="isOpen" x-cloak aria-hidden="true" class=""
            >&minus;</span
          >
          <span x-show="!isOpen" aria-hidden="true" class=""> &plus; </span>
          <span>Scientists by relevant course work</span>
        </button>
      </h2>
      <div x-cloak x-show="isOpen" x-collapse>
        {{ $course := .GetPage "relevantCourses" }}
        {{ partial "pages-list.html" $course.Pages }}
      </div>
    </div>
  </section>

  <!-- Section by Scientist Last Name -->
  <section class="bg-g-3 p-8 shadow-inner">
    <div class="{{ $wellClass }}" x-data="{ isOpen: false }">
      <h2 class="{{ $secHedClass }}" id="scientist">
        <button
          @click="isOpen = !isOpen"
          :aria-expanded="isOpen"
          class="text-left"
        >
          <span x-show="isOpen" x-cloak aria-hidden="true" class=""
            >&minus;</span
          >
          <span x-show="!isOpen" aria-hidden="true" class=""> &plus; </span>
          <span>Scientist by last name</span>
        </button>
      </h2>
      <div x-cloak x-show="isOpen" x-collapse>
        {{ $people := .GetPage "scientist" }}
        {{ partial "people-by-last-name.html" $people }}
      </div>
    </div>
  </section>
{{ end }}
