{{ define "main" }}
  <section class="p-8">
    <div class="mx-auto max-w-screen-md">
      <h1 class="text-right text-lg leading-tight">
        <a class="text-blue duration-500 hover:text-blue-darker" href="/"
          >Home</a
        >
        <span class="text-g-5">»</span>
        {{ if .Parent.Parent }}
          <a
            class="text-blue duration-500 hover:text-blue-darker"
            href="{{ .Parent.Permalink }}"
            >{{ .Parent.LinkTitle }}</a
          >
          <span class="text-g-5">»</span>
        {{ end }}
        <span class="font-bold">{{ .Title }}</span>
      </h1>

      <!-- people list page -->
      {{ if not (or (eq .Params.linktitle "Research Areas") (eq .Params.linktitle "Relevant Courses")) }}
        <ul class="mt-6">
          {{ $isOdd := false }}
          {{ range .Pages.ByParam "last" }}
            {{ $isOdd = not $isOdd }}
            <li class="{{ cond $isOdd `bg-g-3 rounded` `` }} p-2">
              <a class="text-base" href="{{ .RelPermalink }}">
                <h2
                  class="inline font-bold text-blue duration-500 hover:text-blue-darker"
                >
                  {{ .LinkTitle }}
                </h2>
              </a>

              <!-- Categories Link -->
              <div class="links-blue-darker font-sans text-base leading-snug text-g-7">

                <!-- researchAreas Link List-->
                {{ if .Params.researchAreas }}
                  <span class="mr-1 text-g-7">
                    <svg class="inline-block h-3 w-3 fill-current align-middle">
                      <title>researchAreas</title>
                      <use xlink:href="#university-svg"></use>
                    </svg>
                  </span>
                  <span class="mr-1 align-middle">
                    {{ range $index, $area := .Params.researchAreas }}
                      {{- if ne $index 0 }},{{ end }}
                      <a class="hover:underline" href="/researchAreas/{{ $area | urlize }}">
                        {{ $area -}}
                      </a>
                    {{- end }}
                  </span>
                {{ end }}

                <!-- RelevantCourses Links List -->
                {{ if .Params.relevantCourses }}
                  <span class="mr-1 text-g-7">
                    <svg class="inline-block h-3 w-3 fill-current align-middle">
                      <title>Relevant Courses</title>
                      <use xlink:href="#open-book"></use>
                    </svg>
                  </span>
                  <span class="mr-1 align-middle">
                    {{ range $index, $course := .Params.relevantCourses }}
                      {{- if ne $index 0 }},{{ end }}
                      <a class="hover:underline" href="/relevantCourses/{{ $course | urlize }}">
                        {{ $course -}}
                      </a>
                    {{- end }}
                  </span>
                {{ end }}
              </div>
            </li>
          {{ end }}
        </ul>

      <!-- categories page -->
      {{ else }}
        <ul class="links-blue-darker mt-6 sm:columns-2 md:columns-3">
          {{ range .Pages }}
            <li class="mb-4">
              <a
                href="{{ .RelPermalink }}"
                class="hover:bg-blue-100 block transform rounded bg-white p-4 shadow transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-105"
              >
                <h2
                  class="text-blue-700 hover:text-blue-900 text-lg font-semibold"
                >
                  {{ .LinkTitle }}
                  {{ if gt (len .Pages) 1 }}
                    <span class="text-g-6"> ({{ len .Pages }}) </span>
                  {{ end }}
                </h2>
              </a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </section>
{{ end }}
