{{ define "main" }}
  <!-- Main Content Area -->
  <main
    class="flex-grow bg-gray p-8 text-white "
    data-pagefind-body
    x-data="{ isBio: true }"
    style="background-image: url('/img/background/personBackground.webp'); background-size: cover; background-position: center; background-repeat: no-repeat;"
  >
    <div class="mx-auto flex max-w-screen-md flex-col">
      <!-- Title and Organization -->
      <div class=" enter">
        <h1 class="break-word font-bold leading-tight">
          <span class="text-2xl">{{ .Params.name }}</span>
        </h1>
        {{ with .Param "organization" }}
          <h2
            class="break-word text-lg leading-tight text-gray"
            data-pagefind-meta="organization"
          >
            {{ . }}
          </h2>
        {{ end }}
      </div>

      <!-- Basic Information Section -->
      <div
        class="links-blue-darker enter4 mt-2 text-sm text-black sm:flex sm:flex-wrap"
        style="background-color: white; padding: 20px; border-radius: 8px;"
      >
        <!-- Institution of Ph.D. -->
        <p class="sm:w-1/2" id="college">
          <span class="mr-5 text-g-6">
            <svg class="inline-block h-4 w-4 fill-current align-text-bottom">
              <use xlink:href="#university-svg"></use>
            </svg>
          </span>
          <span>{{ .Params.institution_of_phd }}</span>
        </p>

        <!-- Field of Ph.D. -->
        <p class="sm:w-1/2" id="major">
          <span class="mr-5 text-g-6">
            <svg class="inline-block h-4 w-4 fill-current align-text-bottom">
              <use xlink:href="#phd"></use>
            </svg>
          </span>
          <span>{{ .Params.field_of_phd }}</span>
        </p>

        <!-- Year of Ph.D. -->
        <p class="sm:w-1/2" id="years">
          <span class="mr-5 text-g-6">
            <svg class="inline-block h-4 w-4 fill-current align-text-bottom">
              <use xlink:href="#year"></use>
            </svg>
          </span>
          <span>{{ .Params.year_of_phd }}</span>
        </p>

        <!-- Research Areas -->
        <p class="sm:w-1/2" id="researchArea">
          <span class="mr-5 text-g-6">
            <svg class="inline-block h-4 w-4 fill-current align-text-bottom">
              <use xlink:href="#research"></use>
            </svg>
          </span>
          <span>
            {{ range $i, $p := .Params.researchAreas }}
              {{- if ne $i 0 }},{{ end }}
              {{ . -}}
            {{- end }}
          </span>
        </p>

        <!-- Relevant Courses -->
        <p class="sm:w-1/2" id="relevantCourses">
          <span class="mr-5 text-g-6">
            <svg class="inline-block h-4 w-4 fill-current align-text-bottom">
              <use xlink:href="#open-book"></use>
            </svg>
          </span>
          <span>
            {{ range $i, $p := .Params.relevantCourses }}
              {{- if ne $i 0 }},{{ end }}
              {{ . -}}
            {{- end }}
          </span>
        </p>

        <!-- Wikipedia Link -->
        <p class=" flex items-center sm:w-1/2" id="wiki">
          <span class="mr-5 text-g-6">
            <svg class="inline-block h-4 w-4 fill-current align-text-bottom">
              <title>Website</title>
              <use xlink:href="#globe-svg"></use>
            </svg>
          </span>
          <span class="overflow-hidden break-words">
            <a href="{{ .Params.wikipedia }}" target="_blank"
              >{{ .Params.wikipedia }}</a
            >
          </span>
        </p>

        <!-- college level -->
        <p class=" flex items-center sm:w-1/2" id="levels">
          <span class="mr-5 text-g-6">
            <svg class="inline-block h-4 w-4 fill-current align-text-bottom">
              <title>level</title>
              <use xlink:href="#level"></use>
            </svg>
          </span>
          <span class="overflow-hidden break-words">
            {{ range $index, $level := .Params.level }}
              {{- if ne $index 0 }},{{ end }}
              <span
                data-pagefind-filter="level"
                data-pagefind-filter-value="{{ $level }}"
              >
                {{ $level }}
              </span>
            {{- end }}
          </span>
        </p>
      </div>

      <!-- Content Switch Buttons -->
      <div class="enter5 mt-4 grid items-end gap-4 p-2 md:grid-cols-2">
        <button
          :class="isBio ? 'bg-white text-black' : 'bg-gray text-white'"
          class="mx-4 flex-1 transform rounded-lg px-4 py-2 transition-transform duration-200 ease-in-out hover:scale-105 hover:shadow-lg focus:outline-none"
          @click="isBio = true"
        >
          Bio
        </button>
        <button
          :class="!isBio ? 'bg-white text-black' : 'bg-gray text-white'"
          class="mx-4 flex-1 transform rounded-lg px-4 py-2 transition-transform duration-200 ease-in-out hover:scale-105 hover:shadow-lg focus:outline-none"
          @click="isBio = false"
        >
          Contribution
        </button>
      </div>

      <!-- Biography Section -->
      <div
        x-show="isBio"
        x-transition:enter="transition ease-out duration-100 delay-100"
        x-transition:enter-start="transform opacity-0 scale-95"
        x-transition:enter-end="transform opacity-100 scale-100"
        class="enter6 mt-4 text-black"
        style=" background-color: white; padding: 20px; border-radius: 8px; "
      >
        <h2 class="text-lg font-bold">Scientist Biography</h2>

        <div class="mt-4 flex w-full flex-wrap">
          {{ with .Param "images" }}
            {{ range . }}
              {{ $img := resources.GetMatch . }}
              {{ if not $img }}
                {{ warnf "missing image %q" . }}
                {{ continue }}
              {{ end }}
              {{ $imgSmall := $img.Resize "200x" }}
              {{ $imgMedium := $img.Resize "400x" }}
              <div
                class="mb-4 w-full text-center sm:mb-0 sm:mr-4 sm:w-auto sm:text-left"
              >
                <a href="{{ $img.RelPermalink }}" download id="imageDownload">
                  <img
                    data-pagefind-meta="image[src], image_alt[alt], image_srcset[srcset], image_width[width], image_height[height]"
                    class="image-zoom mx-auto rounded bg-g-4 shadow transition-shadow duration-500 hover:shadow-lg sm:mx-0"
                    alt="Headshot of {{ $.Title }}"
                    width="{{ $imgSmall.Width }}"
                    height="{{ $imgSmall.Height }}"
                    src="{{ $imgSmall.RelPermalink }}"
                    srcset="
                      {{ $imgSmall.RelPermalink }} 1x,
                      {{ $imgMedium.RelPermalink }} 2x
                    "
                  />
                </a>
              </div>
            {{ end }}
          {{ else }}
            {{ $img := resources.Get "img/logos/person-svgrepo-com.png" }}
            {{ $imgSmall := $img.Resize "200x" }}
            {{ $imgMedium := $img.Resize "400x" }}
            <div
              class="mb-4 w-full text-center sm:mb-0 sm:mr-4 sm:w-auto sm:text-left"
            >
              <img
                aria-hidden="true"
                class="mx-auto h-auto w-auto max-w-[150px] rounded sm:mx-0"
                alt="Placeholder"
                width="{{ $imgSmall.Width }}"
                height="{{ $imgSmall.Height }}"
                src="{{ $imgSmall.RelPermalink }}"
                srcset="
                  {{ $imgSmall.RelPermalink }} 150w,
                  {{ $imgMedium.RelPermalink }} 300w
                "
              />
            </div>
          {{ end }}


          <!-- Biographical Information -->
          <section
            class="content-area links-blue-darker mt-4 flex-1 sm:ml-4 sm:mt-0 md:ml-2"
          >
            <h2 class="sr-only" data-pagefind-ignore>
              Biographical information
            </h2>
            <p>
              {{ replaceRE "\\[CITE (\\d+)\\]" "<a href=\"#cite-$1\" class=\"citation-link\" data-cite=\"$1\" @click='isBio = false'>[$1]</a>" .Params.general_bio | safeHTML }}
            </p>
          </section>
        </div>

        <!-- Additional Information: Research Areas and Relevant Courses -->
        <div class="links-blue-darker mt-4 flex flex-col">
          {{ if .Params.relevant_concepts }}
            <div class="mt-2">
              <p class="text-lg font-bold">Relevant Concepts</p>
              <span class="align-middle">
                {{ range $index, $area := .Params.relevant_concepts }}
                  {{- if ne $index 0 }},{{ end }}
                  <span>{{ $area -}}</span>
                {{- end }}
              </span>
            </div>
          {{ end }}

          {{ if .Params.researchAreas }}
            <div class="mt-2">
              <p class="text-lg font-bold">Research Areas:</p>
              <span class="align-middle">
                {{ range $index, $area := .Params.researchAreas }}
                  {{- if ne $index 0 }},{{ end }}
                  <a
                    data-pagefind-filter="researchAreas"
                    class="hover:underline"
                    href="/researchareas/{{ $area | urlize }}"
                  >
                    {{ $area -}}
                  </a>
                {{- end }}
              </span>
            </div>
          {{ end }}

          {{ if .Params.relevantCourses }}
            <div class="mt-2">
              <p class="text-lg font-bold">Relevant Courses:</p>
              <span class="align-middle">
                {{ range $index, $course := .Params.relevantCourses }}
                  {{- if ne $index 0 }},{{ end }}
                  <a
                    data-pagefind-filter="relevantCourses"
                    class="hover:underline"
                    href="/relevantcourses/{{ $course | urlize }}"
                  >
                    {{ $course -}}
                  </a>
                {{- end }}
              </span>
            </div>
          {{ end }}
        </div>
      </div>

      <!-- Contributions Section -->
      <div
        x-show="!isBio"
        x-transition:enter="transition ease-out duration-100 delay-100"
        x-transition:enter-start="transform opacity-0 scale-95"
        x-transition:enter-end="transform opacity-100 scale-100"
        x-cloak
        class="mt-4 text-black"
        style=" background-color: white; padding: 20px; border-radius: 8px;"
      >
        <h2 class="text-lg font-bold">Key Contributions</h2>
        <section class="mt-2">
          <div>
            {{ $isOdd := false }}
            {{ range $key, $value := .Params.key_contributions }}
              {{ $isOdd = not $isOdd }}
              <div
                class="{{ cond $isOdd ` shadow-inner` `` }} p-2"
                x-data="{ isOpen: false }"
              >
                <h3 class="text-md font-semibold">
                  <button
                    @click="isOpen = !isOpen"
                    :aria-expanded="isOpen"
                    class="flex items-center"
                  >
                    <span
                      x-show="isOpen"
                      x-cloak
                      aria-hidden="true"
                      class="mr-2"
                      >&minus;</span
                    >
                    <span x-show="!isOpen" aria-hidden="true" class="mr-2"
                      >&plus;</span
                    >
                    <span>{{ $key }}</span>
                  </button>
                </h3>
                <div
                  x-show="isOpen"
                  x-cloak
                  x-collapse
                  class="links-blue-darker mt-2"
                >
                  <p>
                    {{ replaceRE "\\[CITE (\\d+)\\]" "<a href=\"#cite-$1\" class=\"citation-link\" data-cite=\"$1\">[$1]</a>" $value | safeHTML }}
                  </p>
                </div>
              </div>
            {{ end }}
          </div>
        </section>

        <!-- Citations Section -->
        <h2 class="text-lg font-bold">Citations</h2>
        <ol type="1" class="links-blue-darker">
          {{ range $index, $citation := .Params.citations }}
            <li
              id="cite-{{ add $index 1 }}"
              class="citation-item overflow-hidden break-words"
            >
              <a href="{{ $citation }}" target="_blank"
                >[{{ add $index 1 }}] {{ $citation }}</a
              >
            </li>
          {{ end }}
        </ol>
      </div>
    </div>
  </main>

  <!-- Hidden Meta Information for Pagefind -->
  <div hidden data-pagefind-meta="title">{{ .Params.linktitle }}</div>

  <!-- CODE FOR CITATION, JavaScript for scroll and highlight-->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const citationLinks = document.querySelectorAll(".citation-link");

      citationLinks.forEach((link) => {
        link.addEventListener("click", function (event) {
          event.preventDefault();

          // Trigger the Contributions button click
          const contributionsButton = document.querySelector(
            "#contributionsButton",
          );
          if (contributionsButton) {
            contributionsButton.click();
          }

          const citeId = this.getAttribute("data-cite");
          const citationElement = document.getElementById("cite-" + citeId);

          citationElement.scrollIntoView({ behavior: "smooth" });

          citationElement.classList.add("highlight");

          // Start the fade-out effect after 2 seconds
          setTimeout(() => {
            citationElement.classList.add("fade-out");

            // Remove highlight class after fade-out effect completes
            setTimeout(() => {
              citationElement.classList.remove("highlight", "fade-out");
            }, 500); // This should match the duration of the CSS transition
          }, 2000); // Highlight lasts for 2 seconds
        });
      });
    });
  </script>

  <!-- CODE FOR CONVERTING ENCODING LEVEL TO NORMAL WORDING, JavaScript for scroll and highlight-->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Map of levels to their descriptive text
      const levelDescriptions = {
        K12: "K-12",
        UGLD: "Undergraduate - Lower Division",
        UGUD: "Undergraduate - Upper Division",
        G: "Graduate",
      };

      // Function to update the innerHTML of elements with data-pagefind-filter="level"
      const updateLevelDescriptions = () => {
        // Select all elements with the data-pagefind-filter attribute set to "level"
        const levelElements = document.querySelectorAll(
          '[data-pagefind-filter="level"]',
        );

        // Loop through each element and update its innerHTML
        levelElements.forEach((element) => {
          const level = element.getAttribute("data-pagefind-filter-value");
          const description = levelDescriptions[level];
          if (description) {
            element.innerHTML = description;
          }
        });
      };

      // Call the function to update level descriptions
      updateLevelDescriptions();
    });

    // initial animation remove
    document.addEventListener("DOMContentLoaded", function () {
      const bioSection = document.querySelector(".enter6");

      if (bioSection) {
        bioSection.addEventListener("animationend", function () {
          bioSection.classList.remove("enter6");
        });
      }
    });
  </script>

  <style>
    /* CSS for highlighting */
    .citation-item.highlight {
      background-color: yellow;
      transition:
        background-color 0.5s ease-out,
        opacity 0.5s ease-out;
    }

    .citation-item.fade-out {
      background-color: transparent;
    }

    /* CSS for image Zoom */
    .image-zoom {
      transition: transform 0.3s ease-in-out;
    }

    .image-zoom:hover {
      transform: scale(1.1);
    }

    @keyframes slideInLeft {
      0% {
        opacity: 0;
        transform: translateX(-100%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .enter3 {
      animation: slideInLeft 0.3s ease-out forwards;
    }
    .enter4 {
      animation: slideInLeft 0.4s ease-out forwards;
    }
    .enter5 {
      animation: slideInLeft 0.5s ease-out forwards;
    }
    .enter6 {
      animation: slideInLeft 0.6s ease-out forwards;
    }
  </style>

  <!-- the tool tip script -->
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      tippy("#college", {
        content: "Institution of Ph.D.",
        placement: "left",
      });
      tippy("#major", {
        content: "Field of Ph.D.",
        placement: "right",
      });
      tippy("#years", {
        content: "Year of Ph.D. or highest degree",
        placement: "left",
      });
      tippy("#researchArea", {
        content: "Research Areas",
        placement: "right",
      });
      tippy("#relevantCourses", {
        content: "Relevant Courses",
        placement: "left",
      });
      tippy("#wiki", {
        content: "Wikipedia Link",
        placement: "right",
      });
      tippy("#levels", {
        content: "College Level Assessment",
        placement: "left",
      });
      tippy("#imageDownload", {
        content: "click the image to download",
      });
    });
  </script>
{{ end }}
