{{ define "main" }}
  <main class="p-8" data-pagefind-body x-data="{isBio: true}">
    <div class="mx-auto flex max-w-screen-md flex-col">
      <h1 class="break-word font-bold leading-tight">
        <span class="text-2xl text-black">
          {{- .Params.name -}}
        </span>
      </h1>
      {{ with .Param "organization" }}
        <h2
          class="break-word  text-lg leading-tight text-gray"
          data-pagefind-meta="organization"
        >
          {{ . }}
        </h2>
      {{ end }}


      <!-- basic info section -->
      <div class="links-blue-darker mt-2 text-sm sm:flex sm:flex-wrap">
        <p class="sm:w-1/2">
          <span class="mr-5 text-g-6">
            <svg class="inline-block h-4 w-4 fill-current align-text-bottom">
              <use xlink:href="#university-svg"></use>
            </svg>
          </span>
          <span>
            {{ .Params.institution_of_phd }}
          </span>
        </p>
        <p class="sm:w-1/2">
          <span class="mr-5 text-g-6">
            <svg class="inline-block h-4 w-4 fill-current align-text-bottom">
              <use xlink:href="#phd"></use>
            </svg>
          </span>
          <span>
            {{ .Params.field_of_phd }}
          </span>
        </p>
        <p class="sm:w-1/2">
          <span class="mr-5 text-g-6">
            <svg class="inline-block h-4 w-4 fill-current align-text-bottom">
              <use xlink:href="#year"></use>
            </svg>
          </span>
          <span>
            Year of Ph.D. or highest degree:
            {{ .Params.year_of_phd }}
          </span>
        </p>
        <p class="sm:w-1/2">
          <span class="mr-5 text-g-6">
            <svg class="inline-block h-4 w-4 fill-current align-text-bottom">
              <use xlink:href="#research"></use>
            </svg>
          </span>
          <span>
            {{ range $i, $p := .Params.researchAreas }}
              {{- if ne $i 0 }},{{ end }}
              {{ . -}}
            {{- end }}
          </span>
        </p>
        <p class="sm:w-1/2">
          <span class="mr-5 text-g-6">
            <svg class="inline-block h-4 w-4 fill-current align-text-bottom">
              <use xlink:href="#open-book"></use>
            </svg>
          </span>
          <span>
            {{ range $i, $p := .Params.relevantCourses }}
              {{- if ne $i 0 }},{{ end }}
              {{ . -}}
            {{- end }}
          </span>
        </p>
        <p class="sm:w-1/2">
          <span class="mr-5 text-g-6">
            <svg class="inline-block h-4 w-4 fill-current align-text-bottom">
              <title>Website</title>
              <use xlink:href="#globe-svg"></use>
            </svg>
          </span>
          <a href="{{ .Params.wikipedia }}" target="_blank">
            {{ .Params.wikipedia }}
          </a>
        </p>
      </div>
      <!-- content button switch -->
      <div class="mt-4 flex flex-row justify-around bg-black p-2">
        <button
          :class="isBio ? 'bg-white text-black' : 'bg-gray text-white'"
          class="mx-4 flex-1 transform rounded-lg px-4 py-2 
          transition-transform duration-200 ease-in-out hover:scale-105 hover:shadow-lg focus:outline-none"
          @click="isBio = true"
        >
          Bio
        </button>
        <button
          :class="!isBio ? 'bg-white text-black' : 'bg-gray text-white'"
          class="mx-4 flex-1 transform rounded-lg px-4 py-2 
          transition-transform duration-200 ease-in-out hover:scale-105 hover:shadow-lg focus:outline-none"
          @click="isBio = false"
        >
          Contribution
        </button>
      </div>

      <!-- content section: BIO -->
      <div
        x-show="isBio"
        x-transition:enter="transition ease-out duration-100 delay-100"
        x-transition:enter-start="transform opacity-0 scale-95"
        x-transition:enter-end="transform opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-75"
        x-transition:leave-start="transform opacity-100 scale-100"
        x-transition:leave-end="transform opacity-0 scale-95"
        class="mt-4"
      >
        <h2 class="text-lg font-bold">Scientist Biography</h2>
        {{ with .Param "images" }}
          {{ range . }}
            {{ $img := resources.GetMatch . }}
            {{ if not $img }}
              {{ warnf "missing image %q" . }}
              {{ continue }}
            {{ end }}
            {{ $imgSmall := $img.Resize "200x" }}
            {{ $imgMedium := $img.Resize "400x" }}
            <p class="float-left mb-4 mr-4 mt-6">
              <a href="{{ $img.RelPermalink }}" download>
                <img
                  data-pagefind-meta="
                    image[src],
                    image_alt[alt],
                    image_srcset[srcset],
                    image_width[width],
                    image_height[height],
                  "
                  title="Click to download"
                  class="rounded bg-g-4 shadow transition-shadow duration-500 hover:shadow-lg"
                  alt="Headshot of {{ $.Title }}"
                  width="{{ $imgSmall.Width }}"
                  height="{{ $imgSmall.Height }}"
                  src="{{ $imgSmall.RelPermalink }}"
                  srcset="
                    {{ $imgSmall.RelPermalink }} 1x,
                    {{ $imgMedium.RelPermalink }} 2x
                  "
                />
              </a>
            </p>
          {{ end }}
        {{ else }}
          {{ $img := resources.Get "img/logos/person-svgrepo-com.png" }}
          {{ $imgSmall := $img.Resize "200x" }}
          {{ $imgMedium := $img.Resize "400x" }}
          <div class="float-left mb-4 mr-4 mt-6">
            <img
              aria-hidden="true"
              class="mx-auto h-auto w-auto max-w-[150px] rounded"
              alt="Placeholder"
              width="{{ $imgSmall.Width }}"
              height="{{ $imgSmall.Height }}"
              src="{{ $imgSmall.RelPermalink }}"
              srcset="
                {{ $imgSmall.RelPermalink }} 150w,
                {{ $imgMedium.RelPermalink }} 300w
              "
            />
          </div>
        {{ end }}


        <section
          class="content-area links-blue-darker clear-both mt-4 sm:clear-none"
        >
          <h2 class="sr-only" data-pagefind-ignore>Biographical information</h2>
          <p>
            {{ .Params.general_bio }}
          </p>
        </section>
        <div class="links-blue-darker mt-4 flex flex-col md:flex">
          <span>
            <p class="mt-2 text-lg font-bold">Reserach Areas:</p>
            {{ range $i, $p := .Params.researchAreas }}
              {{- if ne $i 0 }},{{ end }}
              <span data-pagefind-filter="researchAreas">{{ . -}}</span>
            {{- end }}
          </span>
          <span>
            <p class="mt-2 text-lg font-bold">Relevant Courses</p>
            {{ range $i, $p := .Params.relevantCourses }}
              {{- if ne $i 0 }},{{ end }}
              <span data-pagefind-filter="relevantCourses">{{ . -}}</span>
            {{- end }}
          </span>
        </div>
      </div>

      <!-- Contribute section -->
      <div
        x-show="!isBio"
        x-transition:enter="transition ease-out duration-100 delay-100"
        x-transition:enter-start="transform opacity-0 scale-95"
        x-transition:enter-end="transform opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-75"
        x-transition:leave-start="transform opacity-100 scale-100"
        x-transition:leave-end="transform opacity-0 scale-95"
        x-cloak
        class="mt-4"
      >
        <h2 class="text-lg font-bold">Key Contributions</h2>
        <section class="mt-2">
          <div>
            {{ $isOdd := false }}
            {{ range $key, $value := .Params.key_contributions }}
              {{ $isOdd = not $isOdd }}
              <div
                class="{{ cond $isOdd `bg-g-3 shadow-inner` `` }} p-2"
                x-data="{ isOpen: false }"
              >
                <h3 class="text-md font-semibold">
                  <button
                    @click="isOpen = !isOpen"
                    :aria-expanded="isOpen"
                    class="flex items-center"
                  >
                    <span
                      x-show="isOpen"
                      x-cloak
                      aria-hidden="true"
                      class="mr-2"
                      >&minus;</span
                    >
                    <span x-show="!isOpen" aria-hidden="true" class="mr-2"
                      >&plus;</span
                    >
                    <span>{{ $key }}</span>
                  </button>
                </h3>
                <div x-show="isOpen" x-cloak x-collapse class="mt-2">
                  <p>{{ $value }}</p>
                </div>
              </div>
            {{ end }}
          </div>
        </section>
        <h2 class="text-lg font-bold">Citations</h2>
        <ol type="1" class="links-blue-darker">
          {{ range $index, $citation := .Params.citations }}
            <li>
              <a href="{{ $citation }}" target="_blank">{{ $citation }}</a>
            </li>
          {{ end }}
        </ol>
      </div>
    </div>
  </main>

  <div hidden data-pagefind-meta="title">
    {{ .Params.linktitle }}
  </div>
  <div hidden data-pagefind-filter="type">"scientist"</div>
{{ end }}
