/* eb-garamond-regular - latin */
@font-face {
  font-display: fallback;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/css/fonts/eb-garamond-v19/eb-garamond-v19-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/css/fonts/eb-garamond-v19/eb-garamond-v19-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eb-garamond-600 - latin */
@font-face {
  font-display: fallback;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("/css/fonts/eb-garamond-v19/eb-garamond-v19-latin-600.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/css/fonts/eb-garamond-v19/eb-garamond-v19-latin-600.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eb-garamond-italic - latin */
@font-face {
  font-display: fallback;
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("/css/fonts/eb-garamond-v19/eb-garamond-v19-latin-italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/css/fonts/eb-garamond-v19/eb-garamond-v19-latin-italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eb-garamond-700italic - latin */
@font-face {
  font-display: fallback;
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url("/css/fonts/eb-garamond-v19/eb-garamond-v19-latin-700italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/css/fonts/eb-garamond-v19/eb-garamond-v19-latin-700italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lora-regular - latin */
@font-face {
  font-display: fallback;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/css/fonts/lora-v20/lora-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/css/fonts/lora-v20/lora-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-600 - latin */
@font-face {
  font-display: fallback;
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("/css/fonts/lora-v20/lora-v20-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/css/fonts/lora-v20/lora-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-italic - latin */
@font-face {
  font-display: fallback;
  font-family: "Lora";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("/css/fonts/lora-v20/lora-v20-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/css/fonts/lora-v20/lora-v20-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-600italic - latin */
@font-face {
  font-display: fallback;
  font-family: "Lora";
  font-style: italic;
  font-weight: 600;
  src: local(""),
    url("/css/fonts/lora-v20/lora-v20-latin-600italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/css/fonts/lora-v20/lora-v20-latin-600italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
