@import "./fonts.css";
@tailwind base;

html {
  font-size: 16px;
}

.drop-cap:first-letter {
  float: left;
  font-size: 4.25rem;
  line-height: 1;
  padding-top: 0.25rem;
  padding-right: 0.5rem;
  padding-left: 0.25rem;
}

.monochrome {
  filter: grayscale(1);
}

/*! purgecss start ignore */
[x-cloak] {
  display: none !important;
}
.no-js-show {
  display: none;
}
.has-old-js .no-js-show {
  display: block;
}
.has-old-js .no-js-hide {
  display: none;
}
/*! purgecss end ignore */

.content-area {
  @apply break-words;
}

.content-area a {
  @apply text-blue underline;
  @apply transition-colors duration-500;
}

.content-area a:hover {
  @apply text-blue-darker;
}

.content-area > p + p,
.content-area > aside + p,
.content-area > figure + p {
  @apply mt-4;
}

.content-area > h3 {
  @apply mb-8 mt-4 font-sans text-3xl italic leading-8;
}

.content-area > ul {
  @apply list-disc;
}
.content-area > ol {
  @apply list-decimal;
}

@layer utilities {
  .shape-outside {
    shape-outside: border-box;
  }
}

.content-aside > p {
  @apply leading-relaxed;
}

.content-aside a {
  @apply text-blue underline;
  @apply transition-colors duration-500;
}

.content-aside a:hover {
  @apply text-blue-darker;
}

.content-aside > ul {
  @apply list-disc;
}
.content-aside > ol {
  @apply list-decimal;
}

.content-aside > h1,
.content-aside > h2,
.content-aside > h3,
.content-aside > h4 {
  @apply text-lg font-bold uppercase leading-none;
}

.content-aside > * + h1,
.content-aside > * + h2,
.content-aside > * + h3,
.content-aside > * + h4 {
  @apply mt-8;
}

.content-aside > * + *,
.content-aside ul > li + li,
.content-aside ol > li + li {
  @apply mt-3;
}

@tailwind components;

@tailwind utilities;

/*! purgecss start ignore */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
/*! purgecss end ignore */

.first-half-dozen > * {
  display: none;
}

.first-half-dozen > *:nth-child(-n + 6) {
  display: revert;
}

@layer components {
  .links-blue-darker a {
    @apply text-blue transition-colors duration-500 hover:text-blue-darker;
  }
  .links-blue-lighter a {
    @apply text-blue decoration-white decoration-2 underline-offset-4 hover:underline;
  }
}
