<div x-data="combobox" class="w-full" data-xmodel="{{ .xmodel }}">
  <datalist x-ref="options">
    {{ range .options }}
      <option value="{{ .Title }}">{{ .Title }}</option>
    {{ end }}
  </datalist>
  <div
    x-combobox
    x-model="{{ .xmodel }}"
    multiple
    class="border-none bg-transparent"
  >
    <div
      x-show="selected.length"
      class="mb-4 mt-1 flex flex-wrap items-center gap-1.5"
    >
      <template x-for="selectedOpt in selected" :key="selectedOpt.id">
        <button
          @click.prevent="remove(selectedOpt)"
          class="inline-flex items-center gap-1 rounded bg-blue p-1 px-2 text-xs text-white hover:bg-gray"
        >
          <span x-text="selectedOpt.name"></span>
          <svg class="h-3 w-3 fill-current">
            <use href="#xmark-svg" />
          </svg>
        </button>
      </template>
    </div>

    <div
      class="relative mt-1 rounded focus-within:ring-2 focus-within:ring-blue"
    >
      <div
        class="flex w-full items-center justify-between gap-2 rounded border-2 border-g-5 bg-white py-2.5 pl-5 pr-10"
      >
        <input
          x-combobox:input
          @change="query = $event.target.value;"
          class="w-full truncate border-none p-0 focus:outline-none focus:ring-0"
          placeholder="{{ .placeholder }}"
        />
        <button
          x-combobox:button
          class="absolute inset-y-0 right-0 flex items-center pr-4"
        >
          <svg class="h-5 w-5 shrink-0 fill-current text-g-5">
            <use href="#chevron-svg" />
          </svg>
        </button>
      </div>

      <div
        x-combobox:options
        x-cloak
        class="absolute left-0 z-10 mt-2 max-h-60 w-full max-w-xs origin-top-right overflow-auto rounded-md border border-g-5 bg-white shadow-md outline-none"
        x-transition.out.opacity
      >
        <ul class="divide-gray-100 divide-y">
          <template x-for="opt in filteredOptions" :key="opt.id" hidden>
            <li
              x-combobox:option
              :value="opt"
              :disabled="opt.disabled"
              :class="{
                    'bg-blue/75 text-white': $comboboxOption.isActive,
                    'text-g-7': ! $comboboxOption.isActive,
                    'opacity-50 cursor-not-allowed': $comboboxOption.isDisabled,
                  }"
              class="flex w-full cursor-default items-center justify-between gap-2 px-4 py-2 text-sm"
            >
              <span
                hidden
                class="cursor-not-allowed bg-blue/75 text-g-7 text-white opacity-50"
              ></span>
              <span x-text="opt.name"></span>

              <span
                x-show="$comboboxOption.isSelected"
                class="font-bold text-blue"
              >
                <svg class="h-4 w-4 fill-current">
                  <use href="#check-svg" />
                </svg>
              </span>
            </li>
          </template>
        </ul>

        <p
          x-show="filteredOptions.length == 0"
          class="px-4 py-2 text-sm text-g-6"
        >
          No locations match your query.
        </p>
      </div>
    </div>
  </div>
</div>
