<footer class="mt-auto bg-gray p-12 font-serif text-white">
  <nav class="flex max-w-screen-xl flex-col gap-6 lg:flex-row">
    <div class="flex-grow uppercase lg:order-last">
      <a
        class="inline-flex flex-shrink-0 leading-none text-white"
        href="https://colabnews.co/"
      >
        {{ $logo := resources.Get "img/logos/colab-white-trans-square.png" }}
        {{ $logo = $logo | fingerprint }}
        <img
          class="aspect-square h-auto w-48"
          width="800"
          height="800"
          src="{{ $logo.RelPermalink }}"
          alt="Colorado News Collaborative logo"
          loading="lazy"
        />
      </a>
      <p class="mt-2 leading-tight">
        &copy; {{ now.Format "2006" }} <br />
        CT Mirror <br />
        1049 Asylum Avenue <br />
        Hartford, CT 06105 <br />
        <a href="tel:18602186380">860-218-6380</a> <br />
        <a href="mailto:membership@ctmirror.org">membership@ctmirror.org</a>
      </p>
    </div>
    {{ $context := dict
      "menu" site.Menus.footer
      "name" "CT Mirror"
    }}
    {{ block "featured-footer" $context }}
      <div class="flex-1">
        <h3 class="font-bold uppercase">{{ .name }}</h3>
        <ul class="mt-2 space-y-2 leading-tight">
          {{ range .menu }}
            <li>
              <a
                class="text-blue duration-500 hover:text-blue-darker"
                href="{{ .URL }}"
                >{{ .Name }}</a
              >
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
    {{ $context = dict "menu" site.Menus.follow "name" "Follow Us" }}
    {{ template "featured-footer" $context }}
  </nav>
</footer>
