<footer class="mt-auto bg-black p-12 font-serif text-white">
  <nav class="flex max-w-screen-xl flex-col gap-6 lg:flex-row">
    <div class="flex-grow uppercase lg:order-last">
      <a href="https://www.ctmirror.org/" class="hover:text-yellow">
        <svg
          class="h-8 w-40 fill-current"
          role="img"
          aria-label="CT Mirror banner"
        >
          <use xlink:href="#banner-svg"></use>
        </svg>
      </a>
      <p class="mt-2 leading-tight">
        &copy; {{ now.Format "2006" }} <br />
        CT Mirror <br />
        1049 Asylum Avenue <br />
        Hartford, CT 06105 <br />
        <a href="tel:18602186380">860-218-6380</a> <br />
        <a href="mailto:membership@ctmirror.org">membership@ctmirror.org</a>
      </p>
    </div>
    {{ $context := dict
      "menu" site.Menus.footer
      "name" "CT Mirror"
    }}
    {{ block "featured-footer" $context }}
      <div class="flex-1">
        <h3 class="font-bold uppercase">{{ .name }}</h3>
        <ul class="mt-2 space-y-2 leading-tight">
          {{ range .menu }}
            <li>
              <a
                class="text-blue duration-500 hover:text-yellow"
                href="{{ .URL }}"
                >{{ .Name }}</a
              >
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
    {{ $context = dict "menu" site.Menus.follow "name" "Follow Us" }}
    {{ template "featured-footer" $context }}
  </nav>
</footer>
