<footer class="mt-auto bg-gray p-12 font-serif text-white">
  <nav class="flex max-w-screen-xl flex-col gap-6 lg:flex-row">
    <div class="flex items-center">
      <a
        class="inline-flex flex-shrink-0 leading-none text-white"
        href="https://rescorp.org/"
      >
        {{ $logo := resources.Get "img/logos/rcsa_logo.png" }}
        {{ $logo = $logo | fingerprint }}
        <img
          class="h-auto w-[200px]"
          width="476"
          height="146"
          src="{{ $logo.RelPermalink }}"
          alt="Research Corporation for Science Advancement logo"
          loading="lazy"
        />
      </a>
    </div>

    {{ $context := dict
      "menu" site.Menus.footer
      "name" "RCSA"
    }}
    {{ block "featured-footer" $context }}
      <div class="flex-1 font-sans">
        <h3 class="font-bold uppercase">{{ .name }}</h3>
        <ul class="links-blue-lighter mt-2 space-y-2 uppercase leading-tight">
          {{ range .menu }}
            <li>
              <a href="{{ .URL }}">
                {{- .Name -}}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
    <div class="flex items-center">
      {{ $logoAmp := resources.Get "img/logos/hiddenfigs_logo.png" }}
      {{ $imgSmall := $logoAmp.Resize "30x" }}
      {{ $imgMedium := $logoAmp.Resize "600x" }}
      <a class="" href="/">
        <img
          class="h-auto w-[200px]"
          width="{{ $imgSmall.Width }}"
          height="{{ $imgSmall.Height }}"
          src="{{ $imgSmall.RelPermalink }}"
          srcset="
            {{ $imgSmall.RelPermalink }} 30w,
            {{ $imgMedium.RelPermalink }} 60w
          "
          alt="Hidden Figures logo"
          loading="lazy"
        />
      </a>
    </div>
    {{ $context = dict "menu" site.Menus.follow "name" "Hidden Figures" }}
    {{ template "featured-footer" $context }}
    <div class="flex-grow">
      <p class="links-blue-lighter leading-tight">
        Hidden Figures in Physics and Astronomy is a<br />
        Cottrell Scholars Collaborative funded by the<br />
        <a href="https://colabnews.co">Research Corporation for Science Advancement</a>.
        <br />
        Thanks to
        <a href="https://www.spotlightpa.org">Spotlight PA</a>
        for sharing<br />
        <a href="https://github.com/spotlightpa/sourcesdb">the code</a> from
        their <br />
        <a href="https://sources.spotlightpa.org">diverse source database</a>.
      </p>
      <p class="mt-4 leading-tight">
        &copy;
        {{ now.Format "2006" }}
        Hidden Figures in Physics and Astronomy
      </p>
    </div>
  </nav>
</footer>
