<ul class="links-blue-darker sm:columns-2 md:columns-3">
  {{ $lastLetter := "" }}
  <div class="break-inside-avoid-column">
    {{ range .Pages.ByParam "last" }}
      {{ $lname := .Param "last" | default " " }}
      {{ $initial := slicestr $lname 0 1 }}
      {{ if ne $initial $lastLetter }}
        {{ $lastLetter = $initial }}
        {{ `</div>` | safeHTML }}
        {{ `<div class="mb-6 break-inside-avoid-column">` | safeHTML }}
        <h2 class="font-sans text-3xl font-bold">{{ $lastLetter }}</h2>
      {{ end }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </li>
    {{ end }}
  </div>
</ul>
