<ul class="sm:column-count-2 md:column-count-3">
  {{ $lastLetter := "" }}
  <div class="break-inside-avoid-column">
    {{ range .Pages.ByParam "last" }}
      {{ $lname := .Param "last" | default " " }}
      {{ $initial := slicestr $lname 0 1 }}
      {{ if ne $initial $lastLetter }}
        {{ $lastLetter = $initial }}
        {{ `</div>` | safeHTML }}
        {{ `<div class="break-inside-avoid-column">` | safeHTML }}
        <h2 class="font-sans text-3xl font-bold">{{ $lastLetter }}</h2>
      {{ end }}
      <li>
        <a
          class="text-blue duration-500 hover:text-blue-darker"
          href="{{ .RelPermalink }}"
          >{{ .LinkTitle }}</a
        >
      </li>
    {{ end }}
  </div>
</ul>
