<a
  class="group flex h-full flex-col gap-3 border-8 border-blue bg-g-4 p-4 shadow transition-colors duration-500 hover:border-blue-darker"
  href="{{ $.RelPermalink }}"
>
  {{ with .Param "images" }}
    {{ range . }}
      {{ $img := resources.GetMatch . }}
      {{ if not $img }}
        {{ warnf "missing image %q" . }}
        {{ continue }}
      {{ end }}
      {{ $imgSmall := $img.Resize "225x" }}
      {{ $imgMedium := $img.Resize "450x" }}
      <div>
        <img
          title="{{ $.Title }}"
          class="mx-auto h-auto max-h-56 w-auto rounded bg-g-4 shadow"
          alt="Headshot of {{ $.Title }}"
          width="{{ $imgSmall.Width }}"
          height="{{ $imgSmall.Height }}"
          src="{{ $imgSmall.RelPermalink }}"
          srcset="
            {{ $imgSmall.RelPermalink }} 1x,
            {{ $imgMedium.RelPermalink }} 2x
          "
          loading="lazy"
          decoding="async"
        />
      </div>
    {{ end }}
  {{ else }}
    {{ $img := resources.Get "img/logos/person-svgrepo-com.png" }}
    {{ $imgSmall := $img.Resize "150x" }}
    {{ $imgMedium := $img.Resize "300x" }}
    <div>
      <img
        aria-hidden="true"
        class="mx-auto h-auto w-auto max-w-[150px] rounded"
        alt="Placeholder"
        width="{{ $imgSmall.Width }}"
        height="{{ $imgSmall.Height }}"
        src="{{ $imgSmall.RelPermalink }}"
        srcset="
          {{ $imgSmall.RelPermalink }} 150w,
          {{ $imgMedium.RelPermalink }} 300w
        "
      />
    </div>
  {{ end }}


  <h2
    class="mt-auto font-sans text-lg font-bold text-black underline decoration-blue decoration-4 underline-offset-2 transition-colors duration-500 group-hover:decoration-blue-darker"
  >
    {{- .Params.name -}}
  </h2>
  {{ if $xpts := .Params.researchAreas }}
    <p class="text-sm leading-normal" id="researchArea">
      <svg
        class="relative top-[2px] mr-2 inline-block h-4 w-4 fill-current align-baseline text-g-6"
      >
        <use xlink:href="#research"></use>
      </svg>
      <span class="text-gray">
        {{ $list := $xpts }}
        {{ if gt (len $xpts) 3 }}
          {{ $list = first 2 $xpts }}
        {{ end }}
        {{ range $i, $p := $list }}
          {{- if ne $i 0 }},{{ end }}
          {{ . -}}
        {{- end }}
        {{ if gt (len $xpts) 3 }}
          and more
        {{ end }}
      </span>
    </p>
  {{ end }}
  {{ if $xpts := .Params.relevantCourses }}
    <p class="text-sm leading-normal" id="relevantCourses">
      <svg
        class="relative top-[2px] mr-2 inline-block h-4 w-4 fill-current align-baseline text-g-6"
      >
        <use xlink:href="#open-book"></use>
      </svg>
      <span class="text-gray">
        {{ $list := $xpts }}
        {{ if gt (len $xpts) 3 }}
          {{ $list = first 2 $xpts }}
        {{ end }}
        {{ range $i, $p := $list }}
          {{- if ne $i 0 }},{{ end }}
          {{ . -}}
        {{- end }}
        {{ if gt (len $xpts) 3 }}
          and more
        {{ end }}
      </span>
    </p>
  {{ end }}


  <!-- the tool tip script -->
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      tippy("#researchArea", {
        content: "Research Areas",
      });
      tippy("#relevantCourses", {
        content: "Relevant Courses",
      });
    });
  </script>
</a>
