<search
  role="search"
  class="mx-auto block max-w-screen-md font-sans text-white"
  x-data="searchPeople"
>
  <h2 class="text-white">
    <label class="text-2xl font-bold leading-tight text-white" for="search">
      Search for a scientist
    </label>
  </h2>
  <div class="relative mt-4">
    <input
      id="search"
      type="search"
      class="block w-full appearance-none rounded-full border-2 border-g-5 bg-white px-10 py-2 tracking-wider text-g-8 placeholder-g-5 placeholder-opacity-100 outline-none ring-blue focus:ring-2"
      x-model="query"
      @keydown.escape="clear()"
      placeholder="Ex. “Katherine Johnson”  “Aerospace” “Calculus”"
    />
    <span
      class="pointer-events-none absolute inset-y-0 left-0 z-10 inline-flex w-10 items-center justify-center leading-none text-g-5"
      aria-hidden="true"
    >
      <svg class="h-4 w-4 fill-current">
        <title>Search</title>
        <use xlink:href="#search-svg"></use>
      </svg>
    </span>
    <span
      x-cloak
      class="pointer-events-none absolute inset-y-0 right-0 z-10 w-10 items-center justify-center leading-none text-g-5"
      aria-hidden="true"
      :class="{ 'inline-flex': isLoading, 'hidden': !isLoading }"
    >
      <svg class="h-4 w-4 animate-spin fill-current ">
        <title>Is Loading</title>
        <use xlink:href="#loading-svg"></use>
      </svg>
    </span>
    <button
      x-cloak
      @click="clear()"
      type="button"
      class="inlineflex absolute inset-y-0 right-0 z-10 w-10 items-center justify-center leading-none text-g-5 hover:text-g-7"
      :class="{ 'inline-flex': showClearButton, 'hidden': !showClearButton }"
    >
      <svg class="h-4 w-4 fill-current ">
        <title>Clear search</title>
        <use xlink:href="#close-svg"></use>
      </svg>
    </button>
  </div>
  <div class="mt-2" x-model="filterType" value="scientist">
    <div class="grid items-end gap-4 md:grid-cols-2">
      {{ partial "combobox.html" (dict
        "options" (.GetPage "researchAreas").Pages
        "placeholder" "Filter by research areas"
        "xmodel" "filterResearchAreas"
        )
      }}
      {{ partial "combobox.html" (dict
        "options" (.GetPage "relevantCourses").Pages
        "placeholder" "Filter by relevant courses"
        "xmodel" "filterRelevantCourses"
        )
      }}
    </div>
  </div>
  <div class="mt-2 flex flex-wrap gap-4">
    <label>
      <input
        class="accent-blue"
        type="checkbox"
        value="K12"
        x-model="filterLevel"
      />
      <span class="ml-1">K-12</span>
    </label>
    <label>
      <input
        class="accent-blue"
        type="checkbox"
        value="UGLD"
        x-model="filterLevel"
      />
      <span class="ml-1">Undergraduate - Lower Division</span>
    </label>
    <label>
      <input
        class="accent-blue"
        type="checkbox"
        value="UGUD"
        x-model="filterLevel"
      />
      <span class="ml-1">Undergraduate - Upper Division</span>
    </label>
    <label>
      <input
        class="accent-blue"
        type="checkbox"
        value="G"
        x-model="filterLevel"
      />
      <span class="ml-1">Graduate</span>
    </label>
  </div>
  <div class="mt-2">
    <div class="grid items-end gap-4 md:grid-cols-2">
      <a
        href="/researchareas"
        class="btn rounded border-2 border-g-5 bg-white px-4 py-2 text-black hover:shadow-lg"
      >
        Research Area List
      </a>
      <a
        href="/relevantcourses"
        class="btn rounded border-2 border-g-5 bg-white px-4 py-2 text-black hover:shadow-lg"
      >
        Relevant Courses List
      </a>
    </div>
  </div>
  <p class="mt-1 text-white" x-text="resultsText"></p>
  <p x-cloak x-show="error" class="mt-2">
    <span class="italic"> Something went wrong: </span>
    <br />
    <span class="font-bold" x-text="error && error.name || ''"></span>
    <br />
    <span class="text-white" x-text="error && error.message || ''"></span>
  </p>
  <div
    class="mt-4 grid max-w-screen-md gap-x-4 gap-y-4 sm:grid-cols-2 md:grid-cols-3"
  >
    <template x-for="p, i of people" :key="p.id" hidden>
      <a
        class="group flex h-full min-w-0 flex-col gap-3 border-8 border-blue bg-g-4 p-4 shadow transition-colors duration-500 hover:border-blue-darker"
        :class='{"bg-g-3": i%2 }'
        :href="p.url"
      >
        <div x-show="p.srcset">
          <img
            class="mx-auto h-auto max-h-56 w-auto rounded bg-g-4 shadow"
            :alt="p.alt"
            :src="p.image"
            :srcset="p.srcset"
            :width="p.width"
            :height="p.height"
          />
        </div>
        <div x-show="!p.srcset">
          {{ $img := resources.Get "img/logos/person-svgrepo-com.png" }}
          {{ $imgSmall := $img.Resize "150x" }}
          {{ $imgMedium := $img.Resize "300x" }}
          <div>
            <img
              aria-hidden="true"
              class="mx-auto h-auto w-auto max-w-[150px] rounded"
              alt="Placeholder"
              width="{{ $imgSmall.Width }}"
              height="{{ $imgSmall.Height }}"
              src="{{ $imgSmall.RelPermalink }}"
              srcset="
                {{ $imgSmall.RelPermalink }} 150w,
                {{ $imgMedium.RelPermalink }} 300w
              "
            />
          </div>
        </div>
        <h2
          class="mt-auto text-lg font-bold text-black underline decoration-blue decoration-4 underline-offset-2 transition-colors duration-500 group-hover:decoration-blue-darker"
          x-text="p.name"
        ></h2>
        <h3 class="truncate text-g-6" x-text="p.organization"></h3>
        <div class="font-serif text-sm leading-normal text-gray">
          <p x-show="p.researchAreas.length" id="researchArea">
            <span class="mr-1 text-g-7">
              <svg
                class="relative top-[2px] mr-2 inline-block h-4 w-4 fill-current align-baseline text-g-6"
              >
                <use xlink:href="#research"></use>
              </svg>
            </span>
            <span x-text="andMore(p.researchAreas)"></span>
          </p>
          <p x-show="p.relevantCourses.length" id="relevantCourses">
            <span class="mr-1 text-g-7">
              <svg
                class="relative top-[2px] mr-2 inline-block h-4 w-4 fill-current align-baseline text-g-6"
              >
                <use xlink:href="#open-book"></use>
              </svg>
            </span>
            <span x-text="andMore(p.relevantCourses)"></span>
          </p>
        </div>
        <p
          class="mt-2 break-words font-serif text-sm italic text-gray [&_mark]:bg-green [&_mark]:p-[2px] [&_mark]:text-white"
          x-html="p.excerpt+'…'"
        ></p>

        <!-- the tool tip script -->
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/tippy.js@6"></script>
        <script>
          document.addEventListener("DOMContentLoaded", function () {
            tippy("#researchArea", {
              content: "Research Areas",
            });
            tippy("#relevantCourses", {
              content: "Relevant Courses",
            });
          });
        </script>
      </a>
    </template>
  </div>
</search>

<!-- Clear the input field on load-->
<script>
  window.addEventListener("load", function () {
    let searchbox = document.getElementById("search");
    if (searchbox) {
      searchbox.value = "";
    }
  });
</script>
<!-- prevent CSS purge -->
<mark hidden class="hidden"></mark>
