<div class="mx-auto max-w-screen-md font-sans" x-data="searchPeople">
  <h2 class="ml-10 text-g-9">
    <label class="text-lg font-bold uppercase text-black" for="search">
      Search for an expert or journalist
    </label>
  </h2>
  <div class="relative">
    <input
      id="search"
      type="search"
      class="block w-full appearance-none rounded-full border-2 border-g-5 bg-white px-10 py-2 tracking-wider text-g-8 placeholder-g-5 placeholder-opacity-100"
      x-model="query"
      @keydown.escape="clear()"
      placeholder="Ex. “Jane Smith” “History” “Boulder”"
    />
    <span
      class="pointer-events-none absolute inset-y-0 left-0 z-10 inline-flex w-10 items-center justify-center leading-none text-g-5"
      aria-hidden="true"
    >
      <svg class="h-4 w-4 fill-current">
        <title>Search</title>
        <use xlink:href="#search-svg"></use>
      </svg>
    </span>
    <span
      x-cloak
      class="pointer-events-none absolute inset-y-0 right-0 z-10 w-10 items-center justify-center leading-none text-g-5"
      aria-hidden="true"
      :class="{ 'inline-flex': isLoading, 'hidden': !isLoading }"
    >
      <svg class="h-4 w-4 animate-spin fill-current ">
        <title>Is Loading</title>
        <use xlink:href="#loading-svg"></use>
      </svg>
    </span>
    <button
      x-cloak
      @click="clear()"
      type="button"
      class="inlineflex absolute inset-y-0 right-0 z-10 w-10 items-center justify-center leading-none text-g-5 hover:text-g-7"
      :class="{ 'inline-flex': showClearButton, 'hidden': !showClearButton }"
    >
      <svg class="h-4 w-4 fill-current ">
        <title>Clear search</title>
        <use xlink:href="#close-svg"></use>
      </svg>
    </button>
  </div>
  <p class="ml-10 mt-1 text-g-7" x-text="resultsText"></p>
  <p x-cloak x-show="error" class="mt-2">
    <span class="italic"> Something went wrong: </span>
    <br />
    <span class="font-bold" x-text="error && error.name || ''"></span>
    <br />
    <span class="text-g-7" x-text="error && error.message || ''"></span>
  </p>
  <div
    class="grid max-w-screen-md gap-x-4 gap-y-4 p-2 sm:grid-cols-2 md:grid-cols-3"
  >
    <template x-for="p, i of people" :key="p.id" hidden>
      <a
        class="group flex h-full min-w-0 flex-col gap-3 border-8 border-blue p-4 shadow transition-colors duration-500 hover:border-blue-darker"
        :class='{"bg-g-3": i%2 }'
        :href="p.url"
      >
        <div x-show="p.srcset">
          <img
            class="mx-auto h-auto max-h-56 w-auto rounded bg-g-4 shadow"
            :alt="p.alt"
            :src="p.image"
            :srcset="p.srcset"
            :width="p.width"
            :height="p.height"
          />
        </div>
        <h2
          class="mt-auto text-lg font-bold underline decoration-blue decoration-4 underline-offset-2 transition-colors duration-500 group-hover:decoration-blue-darker"
          x-text="p.name"
        ></h2>
        <h3 class="truncate text-g-6" x-text="p.organization"></h3>
        <div class="font-serif text-sm leading-normal text-gray">
          <p x-show="p.expertise.length">
            <span class="mr-1 text-g-7">
              <svg
                class="relative top-[2px] mr-2 inline-block h-4 w-4 fill-current align-baseline text-g-6"
              >
                <title>Expertise</title>
                <use xlink:href="#university-svg"></use>
              </svg>
            </span>
            <span x-text="andMore(p.expertise)"></span>
          </p>
          <p x-show="p.beat.length">
            <span class="mr-1 text-g-7">
              <svg
                class="relative top-[2px] mr-2 inline-block h-4 w-4 fill-current align-baseline text-g-6"
              >
                <title>Beat</title>
                <use xlink:href="#newspaper-svg"></use>
              </svg>
            </span>
            <span x-text="andMore(p.beat)"></span>
          </p>
          <p x-show="p.location.length">
            <span class="mr-1 text-g-7">
              <svg
                class="relative top-[2px] mr-2 inline-block h-4 w-4 fill-current align-baseline text-g-6"
              >
                <title>Location</title>
                <use xlink:href="#earth-svg"></use>
              </svg>
            </span>
            <span x-text="andMore(p.location)"></span>
          </p>
          <p x-show="p.area.length">
            <span class="mr-1 text-g-7">
              <svg
                class="relative top-[2px] mr-2 inline-block h-4 w-4 fill-current align-baseline text-g-6"
              >
                <title>Coverage area</title>
                <use xlink:href="#earth-svg"></use>
              </svg>
            </span>
            <span x-text="andMore(p.area)"></span>
          </p>
        </div>
        <p
          class="mt-2 font-serif italic text-gray [&_mark]:bg-blue [&_mark]:p-1 [&_mark]:text-white"
          x-html="p.excerpt"
        ></p>
      </a>
    </template>
  </div>
</div>

<!-- prevent CSS purge -->
<mark hidden class="hidden"></mark>
