{{ $svgs := dict
  "check-svg" "@fontawesome/solid/check.svg"
  "close-svg" "@fontawesome/solid/xmark.svg"
  "contact-svg" "@fontawesome/solid/address-card.svg"
  "earth-svg" "@fontawesome/solid/earth-americas.svg"
  "email-svg" "@fontawesome/regular/envelope.svg"
  "fb-svg" "@fontawesome/brands/facebook-f.svg"
  "globe-svg" "@fontawesome/solid/globe.svg"
  "instagram-svg" "@fontawesome/brands/instagram.svg"
  "language-svg" "@fontawesome/solid/pencil.svg"
  "linkedin-svg" "@fontawesome/brands/linkedin.svg"
  "loading-svg" "@fontawesome/solid/spinner.svg"
  "newspaper-svg" "@fontawesome/regular/newspaper.svg"
  "phone-svg" "@fontawesome/solid/phone.svg"
  "resume-svg" "@fontawesome/solid/file-invoice.svg"
  "search-svg" "@fontawesome/solid/magnifying-glass.svg"
  "share-svg" "@fontawesome/solid/share.svg"
  "sources-svg" "/img/logos/sources.svg"
  "tags-svg" "@fontawesome/solid/tags.svg"
  "twitter-svg" "@fontawesome/brands/twitter.svg"
  "threads-svg" "@fontawesome/brands/threads.svg"
  "university-svg" "@fontawesome/solid/building-columns.svg"
  "user-svg" "@fontawesome/solid/user.svg"
}}


<div hidden>
  {{ range $id, $rsc := $svgs }}
    {{ $svg := resources.Get $rsc }}
    {{ if $svg }}
      <svg id="{{ $id }}">{{ $svg.Content|safeHTML }}</svg>
    {{ else }}
      {{ warnf "no svg! %q" $rsc }}
    {{ end }}
  {{ end }}
</div>
